body {
    margin: 0px 150px;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin-left: 20px;
}

header a {
    font-weight: bold;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.reservation-form {
    margin: 0 0 15px 0;
}
