body {
    margin: 0px 150px;
}

header a {
    font-weight: bold;
    text-decoration: none;
}

.sheets {
    display: flex;
    flex-wrap: wrap;
}

.sheets button {
    width: 18%;
    padding: 10px;
    margin: 10px;
}
